fastapi
uvicorn
motor
pydantic
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
pydantic[email]
pydantic-settings
pandas
numpy
scikit-learn
openpyxl
pytest
httpx
python-dotenv
slowapi
sqlalchemy
asyncpg
greenlet
alembic
psycopg2-binary
